@media (max-width: 575.98px) {
  body {
    header {
      min-height: auto;

      .logo {
        display: inline-flex;
        height: 100px;
        justify-content: center;

        h1 {
          font-size: 7.5vw;

          span {
            font-size: 12vw;
          }
        }
      }

     .menu-toggler {
        display: inline-flex;
      }

      .navbar {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        background: black;
        width: 100%;
        min-height: 100vh;
        top: -150vh;
        left: 0;
        z-index: 50;
        padding: 0;
        line-height: 3;
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transition: all 650ms cubic-bezier(1, 0, 0, 1);

        &.open {
          top: 0;
          border-radius: initial;
        }
      }

      .intro {
        h1,
        h2 {
          font-size: 17vw;

          span {
            &:before {
              margin-top: 2px;
              margin-left: -2px;
            }
          }
        }
      }
    }

    .about {
      margin-bottom: 5rem;

      .profile {
        width: 100%;
        padding: 0;

        h3 {
          font-size: 8vw;
          margin-bottom: .5rem;
        }
      }
    }

    .work {
      margin-bottom: 5rem;

      h3 {
        font-size: 8vw;
        margin-bottom: .5rem;
        width: 100%;
      }

      .item {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
      }
    }

    .contact {
      .form {
        width: 100%;
        padding: 0;

        h3 {
          font-size: 8vw;
          margin-bottom: .5rem;
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
}
