body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: url("../images/body-background.svg") no-repeat center fixed;
    background-size: cover;

    header {
        margin-bottom: 2rem;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: left;
            height: 200px;

            h1 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 45px;
                color: $White;
                letter-spacing: 3px;
                margin: 0;

                span {
                    color: $brandPurple;
                    margin-left: 5px;
                    margin-right: 3px;
                    font-size: 55px;

                    &:before {
                        content: "Website";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -1.5px;
                        margin-top: 1.5px;
                    }
                }
            }
        }
        .navbar {
            height: 200px;
            list-style-type: none;
            margin-bottom: 0;

            li {
                a {
                    font-family: "Roboto Regular", sans-serif;
                    font-size: 16px;
                    color: $White;
                    letter-spacing: 2px;
                    transition: all ease-in-out 0.5s;

                    &.current {
                        color: $brandPurple;
                    }

                    &:hover,
                    &:focus {
                        color: $Pink;
                    }
                }
            }
        }
    }

    .hero {
        margin-bottom: 2rem;

        .intro {
            h1 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 8em;
                color: $White;
                line-height: 0.9;
                margin-bottom: 0;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Ben!";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -3px;
                        margin-top: 3px;
                    }
                }
            }

            h2 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 8em;
                color: $White;
                line-height: 0.9;
                margin-bottom: 1.5rem;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Websites.";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -3px;
                        margin-top: 3px;
                    }

                    &:first-of-type {
                        &:before {
                            content: "Design";
                            color: $Pink;
                            position: absolute;
                            z-index: -1;
                            margin-left: -3px;
                            margin-top: 3px;
                        }
                    }
                }
            }
        }
    }

    .about {
        .profile {
            position: relative;
            width: 650px;
            margin: 0 auto;
            padding: 5px;

            h3 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 50px;
                color: $White;
                letter-spacing: 3px;
                margin-bottom: 1rem;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Myself";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -1.5px;
                        margin-top: 1.5px;
                    }
                }
            }

            p {
                font-family: "Roboto Regular", sans-serif;
                font-size: 16px;
                color: $White;
                line-height: 2;
            }

            .btn {
                font-family: "Roboto Regular", sans-serif;
                font-size: 14px;
                color: $White;
                background: linear-gradient(45deg, $secondaryPurple, $brandPurple, $Pink);
                background-size: 300%;
                text-align: center;
                padding: .85rem 1.2rem;
                border: 0;
                border-radius: 25px;
                width: 160px;
                display: block;
                margin: 3rem auto;
                letter-spacing: 3px;

                &:hover,
                &:focus {
                    animation: GradientAnimation 3s linear infinite;
                }
            }
        }
    }

    .work {
        .item {
            padding: 1rem;

            &:hover {
                img {
                    opacity: 0.35;
                }

                span {
                    opacity: 1;
                }
            }

            img,
            span {
                transition: all ease-in-out 0.5s;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: "Oswald Regular", sans-serif;
                font-size: 1.5rem;
                letter-spacing: 3px;
                line-height: 1.3;
                text-align: center;
                opacity: 0;
            }
        }
    }

    .contact {
        .form {
            position: relative;
            width: 650px;
            margin: 0 auto;
            padding: 5px;

            #error-message,
            #success-message {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                border: 2px solid;
                width: 400px;
                margin: 0 auto 1.5rem;

                p {
                    font-family: "Roboto Regular", sans-serif;
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }

            h3 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 50px;
                color: $White;
                letter-spacing: 3px;
                margin-bottom: 1rem;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Touch";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -1.5px;
                        margin-top: 1.5px;
                    }
                }
            }

            form {
                .form-group {
                    input,
                    textarea {
                        font-family: "Roboto Regular", sans-serif;
                        font-size: 16px;
                        background: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid $White;
                        padding: 0;

                        &:focus {
                            box-shadow: 0 0 0 0;
                            outline: none;
                            border-color: $brandPurple;
                        }

                        &:focus,
                        &.not-empty {
                            + .label {
                                transform: translateY(-20px);
                                color: $brandPurple;
                            }
                        }
                    }

                    textarea {
                        height: 40px;
                        max-height: 200px;
                    }

                    .label {
                        font-family: "Roboto Regular", sans-serif;
                        font-size: 16px;
                        color: $White;
                        position: absolute;
                        top: 5px;
                        transition: all ease-in-out 0.2s;
                    }
                }

                .form-group.message {
                    margin-top: 3rem;
                }

                .form-group.send {
                    text-align: center;

                    .btn {
                        font-family: "Roboto Regular", sans-serif;
                        font-size: 14px;
                        color: $White;
                        background: linear-gradient(45deg, $secondaryPurple, $brandPurple, $Pink);
                        background-size: 300%;
                        text-align: center;
                        padding: .85rem 1.2rem;
                        border: 0;
                        border-radius: 25px;
                        width: 160px;
                        display: block;
                        margin: 3rem auto;
                        letter-spacing: 3px;
        
                        &:hover,
                        &:focus {
                            animation: GradientAnimation 3s linear infinite;
                        }
                    }
                }
            }
        }
    }
}
