body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: url("../images/body-background.svg") no-repeat center fixed;
    background-size: cover;

    &.open {
        overflow: hidden;
        animation: 0.2s delay-overflow;
    }

    header {
        min-height: 100vh;
        margin-bottom: 2rem;

        a {
            &:hover {
                text-decoration: none;
            }
        }

        .menu-toggler {
            display: none;
            position: absolute;
            top: 2rem;
            left: auto;
            right: 1rem;
            width: 50px;
            height: 35px;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index: 1500;
            transition: transform 650ms ease-out;

            &.open {
                transform: rotate(-45deg);

                .bar {
                    &.start {
                        transform: rotate(-450deg) translateX(0.6rem);
                    }

                    &.end {
                        transform: rotate(-450deg) translateX(-0.6rem);
                    }
                }
            }

            .bar {
                width: 100%;
                height: 3px;
                border-radius: 0.8rem;
                background: $White;

                &.start {
                    transform-origin: right;
                    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                }

                &.half {
                    width: 50%;
                }

                &.end {
                    align-self: flex-end;
                    transform-origin: left;
                    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                }
            }
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: left;
            height: 200px;

            h1 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 45px;
                color: $White;
                letter-spacing: 3px;
                margin: 0;

                span {
                    color: $brandPurple;
                    margin-left: 5px;
                    margin-right: 3px;
                    font-size: 55px;

                    &:before {
                        content: "Website";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -1.5px;
                        margin-top: 1.5px;
                    }
                }
            }
        }
        .navbar {
            height: 200px;
            list-style-type: none;
            margin-bottom: 0;

            li {
                a {
                    font-family: "Roboto Regular", sans-serif;
                    font-size: 16px;
                    color: $White;
                    letter-spacing: 2px;
                    transition: all ease-in-out 0.5s;

                    &.current {
                        color: $brandPurple;
                    }

                    &:hover,
                    &:focus {
                        color: $Pink;
                    }
                }
            }
        }
        .intro {
            h1 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 8em;
                color: $White;
                line-height: 0.9;
                margin-bottom: 0;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Ben!";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -3px;
                        margin-top: 3px;
                    }
                }
            }

            h2 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 8em;
                color: $White;
                line-height: 0.9;
                margin-bottom: 1.5rem;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Websites.";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -3px;
                        margin-top: 3px;
                    }

                    &:first-of-type {
                        &:before {
                            content: "Design";
                            color: $Pink;
                            position: absolute;
                            z-index: -1;
                            margin-left: -3px;
                            margin-top: 3px;
                        }
                    }
                }
            }
        }
    }

    .about {
        margin-bottom: 10rem;

        .profile {
            position: relative;
            width: 650px;
            margin: 0 auto;
            padding: 5px;

            h3 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 50px;
                color: $White;
                letter-spacing: 3px;
                margin-bottom: 1rem;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Myself";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -1.5px;
                        margin-top: 1.5px;
                    }
                }
            }

            p {
                font-family: "Roboto Regular", sans-serif;
                font-size: 16px;
                color: $White;
                line-height: 2;
            }

            .btn {
                font-family: "Roboto Regular", sans-serif;
                font-size: 14px;
                color: $White;
                background: linear-gradient(45deg, $secondaryPurple, $brandPurple, $Pink);
                background-size: 300%;
                text-align: center;
                padding: 0.85rem 1.2rem;
                border: 0;
                border-radius: 25px;
                width: 160px;
                display: block;
                margin: 3rem auto 0;
                letter-spacing: 3px;

                &:hover {
                    animation: GradientAnimation 3s linear infinite;
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 0;
                }
            }
        }
    }

    .work {
        margin-bottom: 10rem;

        h3 {
            font-family: "Bebas Neue", sans-serif;
            font-size: 50px;
            color: $White;
            width: 650px;
            letter-spacing: 3px;
            margin-bottom: 1rem;
            margin: 0 auto;

            span {
                color: $brandPurple;

                &:before {
                    content: "Work";
                    color: $Pink;
                    position: absolute;
                    z-index: -1;
                    margin-left: -1.5px;
                    margin-top: 1.5px;
                }
            }
        }

        .item {
            width: 300px;
            margin: 0 auto;

            a {
                text-decoration: none;

                img {
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    -webkit-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                }

                h6 {
                    font-family: "Roboto Regular", sans-serif;
                    font-size: 16px;
                    color: $White;
                    letter-spacing: 3px;
                    margin-bottom: 0;
                    text-align: center;
                    transition: all ease-in-out 0.5s;
                }
            }

            &:hover {
                img {
                    -webkit-filter: grayscale(0);
                    filter: grayscale(0);
                }

                h6 {
                    color: $Pink;
                }
            }
        }
    }

    .contact {
        .form {
            position: relative;
            width: 650px;
            margin: 0 auto;
            padding: 5px;

            #error-message,
            #success-message {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                border: 2px solid;
                width: 400px;
                margin: 0 auto 1.5rem;

                p {
                    font-family: "Roboto Regular", sans-serif;
                    font-size: 16px;
                    margin-bottom: 0;
                }
            }

            h3 {
                font-family: "Bebas Neue", sans-serif;
                font-size: 50px;
                color: $White;
                letter-spacing: 3px;
                margin-bottom: 1rem;

                span {
                    color: $brandPurple;

                    &:before {
                        content: "Touch";
                        color: $Pink;
                        position: absolute;
                        z-index: -1;
                        margin-left: -1.5px;
                        margin-top: 1.5px;
                    }
                }
            }

            form {
                .form-group {
                    input,
                    textarea {
                        font-family: "Roboto Regular", sans-serif;
                        font-size: 16px;
                        background: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid $White;
                        padding: 0;

                        &:focus {
                            box-shadow: 0 0 0 0;
                            outline: none;
                            border-color: $Pink;
                        }

                        &:focus,
                        &.not-empty {
                            + .label {
                                transform: translateY(-20px);
                                color: $Pink;
                            }
                        }
                    }

                    textarea {
                        height: 40px;
                        max-height: 200px;
                    }

                    .label {
                        font-family: "Roboto Regular", sans-serif;
                        font-size: 16px;
                        color: $White;
                        position: absolute;
                        top: 5px;
                        transition: all ease-in-out 0.2s;
                    }
                }

                .form-group.message {
                    margin-top: 3rem;
                }

                .form-group.send {
                    text-align: center;

                    .btn {
                        font-family: "Roboto Regular", sans-serif;
                        font-size: 14px;
                        color: $White;
                        background: linear-gradient(45deg, $secondaryPurple, $brandPurple, $Pink);
                        background-size: 300%;
                        text-align: center;
                        padding: 0.85rem 1.2rem;
                        border: 0;
                        border-radius: 25px;
                        width: 160px;
                        display: block;
                        margin: 3rem auto;
                        letter-spacing: 3px;

                        &:hover {
                            animation: GradientAnimation 3s linear infinite;
                        }

                        &:focus {
                            outline: none;
                            box-shadow: 0 0 0 0;
                        }
                    }
                }
            }
        }
    }
}
